#initial-screen {
	align: center middle;
	border: ascii $accent;
	height: auto;
	grid-size: 2;
	grid-rows: 3;
	width: 50;
	padding: 1;
	grid-gutter: 1;
	border-title-align: center;
}

#initial-screen Label {
	margin-top: 1;
}

#start-button {
	column-span: 2;
	width: 100%;
}
