#paragraph {
	min-height: 12;
	height: auto;
	width: 80;
	margin-bottom: 1;
	border: round $surface-lighten-3;
	padding: 1;
	overflow: hidden;
}

#type-input {
	width: 80;
	background: transparent;
	border: round $surface-lighten-3;
	padding-left: 1;
	padding-right: 1;
	height: auto;
}
#type-input:focus {
	border: round $accent;
}

#container {
	width: auto;
	align: center middle;
	padding: 1;
}

TypingTimer {
	text-align: right;
	margin-top: 2;
	text-style: italic;
}